<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoMapKitView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2247C6201E77546300FEE7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2247C6371E77546300FEE7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2247C6421E77546300FEE7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
