<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoCartCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2245DD141E74A061001FBAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2245DD2B1E74A062001FBAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2245DD361E74A062001FBAE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
